.roll {
  animation-name: roll;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
}

@keyframes roll {
  0% {
    transform: translate(-450%, 100%);
  }
  100% {
    transform: translate(400%, 100%) rotate(120deg);
  }
}

.zoom_out {
  animation-name: zoom_out;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes zoom_out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.broken_heart {
  filter: grayscale(75%) blur(0.5px);
}
.active_heart {
  filter: drop-shadow(0 0 2px rgb(0, 255, 119));
}

.position1 {
  top: -10%;
}
.position2 {
  top: 0%;
}
.position3 {
  top: 35%;
}
.position4 {
  top: 20%;
}
.position5 {
  top: 5%;
}

.speed1 {
  animation-duration: 4s;
}

.speed2 {
  animation-duration: 3.5s;
}

.speed3 {
  animation-duration: 3.2s;
}
.pulse {
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
.shrink {
  animation-name: shrink;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes shrink {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}
.paused {
  animation-play-state: paused;
}
