body {
  margin: 0;
}

#game_over {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #a7c247 0%, #b5601a 100%);
  color: #ffffff;
  text-align: center;
}

#start,
#level_complete {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: larger;
  text-align: center;
  background-image: linear-gradient(150deg, #c2d388 0%, #addd29 100%);
  color: #ffffff;
}
#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 100%;
  aspect-ratio: 16/9;
}
#game {
  grid-area: 1/1;
  background-color: green;
  overflow: hidden;
  display: grid;
  grid-template-columns: 10% / 10%;
  grid-template-rows: 100%;
}
#game_background {
  grid-area: 1/1;
  background-image: url(photos/game_background_5.png);
  background-size: cover;
}
#game_elements {
  grid-area: 1 /1;
  position: relative;
  overflow: hidden;
}

#tennisball_container {
  width: 14%;
  position: absolute;
  left: 45%;
}
#tennisball_sprite {
  width: 100%;
  height: 100%;
}
#tennisball_2_container {
  width: 14%;
  position: absolute;

  left: 45%;
}
#tennisball_2_sprite {
  width: 100%;
  height: 100%;
}
#tennisball_3_container {
  width: 14%;
  position: absolute;
  left: 45%;
}
#tennisball_3_sprite {
  width: 100%;
  height: 100%;
}
#football_container {
  width: 14%;
  position: absolute;

  left: 48%;
}

#football_sprite {
  width: 100%;
  height: 100%;
}
#football_2_container {
  width: 14%;
  position: absolute;

  left: 48%;
}

#football_2_sprite {
  width: 100%;
  height: 100%;
}

#heart1 {
  width: 5%;
  position: absolute;
  top: 1%;
  left: 75%;
}

#heart2 {
  width: 5%;
  position: absolute;
  top: 1%;
  left: 81%;
}

#heart3 {
  width: 5%;
  position: absolute;
  top: 1%;
  left: 87%;
}

#heart4 {
  width: 5%;
  position: absolute;
  top: 1%;
  left: 93%;
}
#tennisball_score {
  width: 5%;
  position: absolute;
  top: 2%;
  left: 7%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: xx-large;
}
#tennisball_image {
  width: 7%;
  position: absolute;
  top: 1%;
  left: 1%;
}

.hidden,
#game_over.hidden,
#level_complete.hidden,
#start.hidden {
  display: none;
}
#time_container {
  z-index: 100;
  position: absolute;
  width: 38%;
  height: 8%;
  top: 2%;
  left: 35%;
}
#time_sprite {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
}

* {
  user-select: none;
}
img {
  -webkit-user-drag: none;
}
button {
  padding: 5px 30px;
  font-size: 2em;
  margin: auto;
  background-color: #67dc71;
  color: #f2ffbf;
  border: 10px solid #65d66e;
  cursor: pointer;
  border-radius: 10px;
}
