body {
  margin: 0;
}
#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 100%;
  aspect-ratio: 16/9;
}
#game {
  grid-area: 1/1;
  background-color: blue;
  overflow: hidden;
  display: grid;
  grid-template-columns: 10% / 10%;
  grid-template-rows: 100%;
}
#game_background {
  background-image: url(/photos/game_background_3.png);
  background-size: cover;
}
#racket_container {
  width: 13%;
  position: absolute;
  top: 18%;
  left: 37%;
}

#racket_sprite {
  width: 100%;
  height: 100%;
}

#tennisball_container {
  width: 14%;
  position: absolute;
  top: 45%;
  left: 45%;
}

#tennisball_sprite {
  width: 100%;
  height: 100%;
}

#basketball_container {
  width: 10%;
  position: absolute;
  top: 35%;
  left: 48%;
}

#basketball_sprite {
  width: 100%;
  height: 100%;
}

#bomb_container {
  width: 10%;
  position: absolute;
  top: 12%;
  left: 12%;
}
#bomb_sprite {
  width: 100%;
  height: 100%;
}

#water_bottle_container {
  width: 15%;
  position: absolute;
  top: 22%;
  left: 22%;
}
#water_bottle_sprite {
  width: 100%;
  height: 100%;
}
